<section>
  <h1>Calculate for complete ISBN</h1>
  <%= form_with url: calculate_path, local: true, method: :get, data: { turbo: false }, class: "calculate" do %>
    <%= text_field_tag(:isbn_input, params[:isbn_input], required: true) %>
    <%= submit_tag "Calculate" %>
  <% end %>

</section>