<h3 style="text-align: center;">Result</h3>

<p>Check digit is <span class="result-text"><%= check_digit %><span></p>

<p>Complete ISBN is <span class="result-text"> <%= final_result %><span></p>

<%= link_to "Back to main", root_path %>